In [30]:
import pandas as pd

In [62]:
df = pd.read_csv('Evaluation-dataset.csv',header = None)

In [63]:
df.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Tires where delivered to the garage of my choi...,garage service positive,ease of booking positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Easy Tyre Selection Process, Competitive Prici...",garage service positive,value for money positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df = df.fillna('')

In [66]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [67]:
columns = ['text']
labels = []
for idx in range(1, 15):
    name = 'label_' + str(idx)
    labels.append(name)
    columns.append(name)

df.columns = columns

In [68]:
df['target'] = df[labels].values.tolist()

In [69]:
df.head(2)

,text,label_1,label_2,label_3,label_4,label_5,label_6,label_7,label_8,label_9,label_10,label_11,label_12,label_13,label_14,target
0,Tires where delivered to the garage of my choi...,garage service positive,ease of booking positive,,,,,,,,,,,,,"[garage service positive, ease of booking posi..."
1,"Easy Tyre Selection Process, Competitive Prici...",garage service positive,value for money positive,,,,,,,,,,,,,"[garage service positive, value for money posi..."

In [70]:
def remove_empty(text):
    return [lab for lab in text if lab != '']

In [72]:
def remove_space(text):
    return [lab.strip() for lab in text]

In [73]:
df['target'] = df['target'].map(remove_empty)

In [74]:
df['target'] = df['target'].map(remove_space)

In [75]:
df_final =  df[['text','target']]

In [76]:
df_final.head(2)

,text,target
0,Tires where delivered to the garage of my choi...,"[garage service positive, ease of booking posi..."
1,"Easy Tyre Selection Process, Competitive Prici...","[garage service positive, value for money posi..."

In [81]:
df_final.shape

(10132, 2)

In [85]:
df_final = df_final[df_final["target"].str.len() != 0]

In [86]:
df_final.shape

(8129, 2)

In [96]:
len(df_final.target.explode().unique())

103

In [91]:
def replace_label(src,trg):
    def replace(texts):
        return [lab if lab != src else trg for lab in texts]
    
    df_final['target'] = df_final['target'].map(replace)

In [92]:
replace_label('advisor/agent service positive','advisoragent service positive')

C:\Users\SKS\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [93]:
replace_label('advisor/agent service negative','advisoragent service negative')

C:\Users\SKS\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [94]:
replace_label('tyre age/dot code negative','tyre agedot code negative')

C:\Users\SKS\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [97]:
from collections import Counter
Counter(df_final.target.explode()).items()

dict_items([('garage service positive', 2031), ('ease of booking positive', 1187), ('value for money positive', 4780), ('location positive', 1063), ('length of fitting positive', 657), ('ease of booking negative', 227), ('change of date negative', 277), ('tyre quality positive', 434), ('garage service negative', 423), ('wait time negative', 135), ('delivery punctuality positive', 453), ('mobile fitter positive', 225), ('advisoragent service positive', 435), ('wait time positive', 274), ('extra charges positive', 85), ('length of fitting negative', 109), ('location negative', 27), ('value for money negative', 136), ('damage negative', 127), ('mobile fitter negative', 28), ('balancing positive', 14), ('facilities positive', 33), ('change of time negative', 42), ('extra charges negative', 46), ('booking confusion negative', 119), ('late notice negative', 76), ('delivery punctuality negative', 250), ('discounts positive', 115), ('tyre quality negative', 40), ('change of date positive', 21), ('refund not actioned positive', 1), ('refund timescale positive', 6), ("mobile fitter didn't arrive positive", 1), ('change of time positive', 1), ('discount not applied positive', 1), ('tyre agedot code positive', 2), ('failed payment positive', 1), ('late notice positive', 1), ('incorrect tyres sent positive', 2), ('call wait time positive', 1), ('refund positive', 28), ('no stock positive', 1), ('advisoragent service negative', 172), ('call wait time negative', 24), ('response time negative', 77), ('balancing negative', 24), ('response time positive', 34), ('incorrect tyres sent negative', 70), ('no stock negative', 42), ('refund not actioned negative', 14), ("mobile fitter didn't arrive negative", 14), ('refund negative', 25), ('discounts negative', 28), ('tyre agedot code negative', 17), ('discount not applied negative', 9), ('telephone help avaiable if required.', 1), ('refund timescale negative', 10), ('good service', 1), ('clean reception area and free coffee', 1), ('polite staff', 1), ('good price', 2), ('great price.', 1), ('fitting took a long time.', 1), ('facilities negative', 18), ('failed payment negative', 5), ('keep it up! Will definitely buy from you again.', 1), ("they looked grey and old (but unused) not at all how new tyres normally look. Not surprising when I inspected the 'Dot Date' and it was 4517 (ie tyres manufactured in week 45 of 2017.Queried this with [REDACTED] who told me that they have many different suppliers and do not check the age of the tyres.They could re-order but no guarantee that the replacements would be any newer. Not at all happy and requested a refund which they say they will do.", 1), ('good communication', 1), ('prompt deliveries...', 1), ('easily navigable web site', 1), ('slick delivery service and good fitter.', 1), ('tje garage i choice to go to in order to have the tyres fitted was nit that good and i certainly will not be using them again.', 1), ('good local fitting services', 1), ('simple to use website', 1), ('Garage was quick & efficient with fitting of tyres', 1), ('only 8 as the garage was unable to fit the tyres in the allotted time and I had to wait over an hour.', 1), ('Great garage fitted them', 1), ('Cheapest price', 1), ('really good prices', 1), ('really friendly and efficient service.', 1), ('booking confusion positive', 2), ('ability to browse through various makes of tyres before making a decision', 1), ('simple fitting procedure', 1), ('easy to browse selection of tyres before making a choice', 1), ('simple booking for fitting procedure.', 1), ('hassle free', 1), ('good range and competitive prices on website', 1), ('the site is easy to use', 1), ('it feels more transparent than buying from a mechanic based on their opinion.', 1), (')', 1), ('and both times have been good experiences.', 1), ('staff were courteous', 1), ('no issues', 1), ('faster than dealerships to arrange supply and partnership with ATS works well .', 1), ('won’t be using anyone else.', 1), ('wide choice of tyres at great prices including delivery and fitting.', 1), ('good prices', 1), ('recommended a great local shop for fitting', 1), ('my tyre supplier of choice!.', 1), ('and an excellent service from the garage who fitted the tyre.', 1), ('the process was simple and quick.Regular offers make it easy to find premium tyres at decent prices.', 1), ('cheaper than anything else I have found by some way.', 1), ("one tyre with dangerously low air pressure. Asked the garage to top up the tyre and check the other three. They did top up the one tyre but didn't bother to check the others. When I checked the tyres 10 minutes later all four tyres had varying pressures (from 29 to 37.5). I emailed both companies and have not received an apology from either. I will never use Lavender Motors again (they shouldn't be in business) and likely not [REDACTED].com either.", 1)])

In [130]:
garbage_label = []
for label,count in Counter(df_final.target.explode()).items():
    if count < 5:
        if 'positive' not in label.split():
            if 'negative' not in label.split():
                garbage_label.append(label)

In [131]:
for i in range(len(df_final))

44

In [133]:
df_final.shape

(8129, 2)

In [142]:
from tqdm import tqdm
for i in tqdm(range(len(df_final))):
    for gLabel in garbage_label:
        if gLabel in df_final.iloc[i,1]:
            df_final.iloc[i,1].remove(gLabel)

100%|█████████████████████████████████████████████| 8129/8129 [00:03<00:00, 2419.93it/s]

In [143]:
df_final.shape

(8129, 2)

In [144]:
df_final = df_final[df_final["target"].str.len() != 0]

In [145]:
df_final.shape

(8125, 2)

In [149]:
garbage_label

['telephone help avaiable if required.',
 'good service',
 'clean reception area and free coffee',
 'polite staff',
 'good price',
 'great price.',
 'fitting took a long time.',
 'keep it up! Will definitely buy from you again.',
 "they looked grey and old (but unused) not at all how new tyres normally look. Not surprising when I inspected the 'Dot Date' and it was 4517 (ie tyres manufactured in week 45 of 2017.Queried this with [REDACTED] who told me that they have many different suppliers and do not check the age of the tyres.They could re-order but no guarantee that the replacements would be any newer. Not at all happy and requested a refund which they say they will do.",
 'good communication',
 'prompt deliveries...',
 'easily navigable web site',
 'slick delivery service and good fitter.',
 'tje garage i choice to go to in order to have the tyres fitted was nit that good and i certainly will not be using them again.',
 'good local fitting services',
 'simple to use website',
 'Garage was quick & efficient with fitting of tyres',
 'only 8 as the garage was unable to fit the tyres in the allotted time and I had to wait over an hour.',
 'Great garage fitted them',
 'Cheapest price',
 'really good prices',
 'really friendly and efficient service.',
 'ability to browse through various makes of tyres before making a decision',
 'simple fitting procedure',
 'easy to browse selection of tyres before making a choice',
 'simple booking for fitting procedure.',
 'hassle free',
 'good range and competitive prices on website',
 'the site is easy to use',
 'it feels more transparent than buying from a mechanic based on their opinion.',
 ')',
 'and both times have been good experiences.',
 'staff were courteous',
 'no issues',
 'faster than dealerships to arrange supply and partnership with ATS works well .',
 'won’t be using anyone else.',
 'wide choice of tyres at great prices including delivery and fitting.',
 'good prices',
 'recommended a great local shop for fitting',
 'my tyre supplier of choice!.',
 'and an excellent service from the garage who fitted the tyre.',
 'the process was simple and quick.Regular offers make it easy to find premium tyres at decent prices.',
 'cheaper than anything else I have found by some way.',
 "one tyre with dangerously low air pressure. Asked the garage to top up the tyre and check the other three. They did top up the one tyre but didn't bother to check the others. When I checked the tyres 10 minutes later all four tyres had varying pressures (from 29 to 37.5). I emailed both companies and have not received an apology from either. I will never use Lavender Motors again (they shouldn't be in business) and likely not [REDACTED].com either."]

In [155]:
Counter(df_final.target.explode())

Counter({'garage service positive': 2031,
         'ease of booking positive': 1187,
         'value for money positive': 4780,
         'location positive': 1063,
         'length of fitting positive': 657,
         'ease of booking negative': 227,
         'change of date negative': 277,
         'tyre quality positive': 434,
         'garage service negative': 423,
         'wait time negative': 135,
         'delivery punctuality positive': 453,
         'mobile fitter positive': 225,
         'advisoragent service positive': 435,
         'wait time positive': 274,
         'extra charges positive': 85,
         'length of fitting negative': 109,
         'location negative': 27,
         'value for money negative': 136,
         'damage negative': 127,
         'mobile fitter negative': 28,
         'balancing positive': 14,
         'facilities positive': 33,
         'change of time negative': 42,
         'extra charges negative': 46,
         'booking confusion negative': 119,
         'late notice negative': 76,
         'delivery punctuality negative': 250,
         'discounts positive': 115,
         'tyre quality negative': 40,
         'change of date positive': 21,
         'refund not actioned positive': 1,
         'refund timescale positive': 6,
         "mobile fitter didn't arrive positive": 1,
         'change of time positive': 1,
         'discount not applied positive': 1,
         'tyre agedot code positive': 2,
         'failed payment positive': 1,
         'late notice positive': 1,
         'incorrect tyres sent positive': 2,
         'call wait time positive': 1,
         'refund positive': 28,
         'no stock positive': 1,
         'advisoragent service negative': 172,
         'call wait time negative': 24,
         'response time negative': 77,
         'balancing negative': 24,
         'response time positive': 34,
         'incorrect tyres sent negative': 70,
         'no stock negative': 42,
         'refund not actioned negative': 14,
         "mobile fitter didn't arrive negative": 14,
         'refund negative': 25,
         'discounts negative': 28,
         'tyre agedot code negative': 17,
         'discount not applied negative': 9,
         'refund timescale negative': 10,
         'facilities negative': 18,
         'failed payment negative': 5,
         'booking confusion positive': 2})

In [167]:
def combine_labels(df,min_samples = 50):
    label_counts = df_final.target.explode().value_counts()
    label_names = label_counts.index
    
    fewer_labels = []
    for i,label in enumerate(label_names):
        if label_counts[i] < min_samples:
            fewer_labels.append(label)
    
    def replace_fewer(labels):
        fewers = []
        for label in labels:
            sentiment = label.split(' ')[-1]
            if label in fewer_labels:
                fewers.append(' '.join(['extra',sentiment]))
            else:
                fewers.append(label)
                
        return fewers 
    
    df['target'] = df['target'].map(replace_fewer)

In [180]:
from sklearn.preprocessing import MultiLabelBinarizer

def encode_labels(df):
    le = MultiLabelBinarizer()
    df['encoded'] = le.fit_transform(df.target.tolist()).tolist()

In [181]:
encode_labels(df_final)

In [182]:
df_final.head()

,text,target,encoded
0,Tires where delivered to the garage of my choi...,"(garage service positive, ease of booking posi...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, ..."
1,"Easy Tyre Selection Process, Competitive Prici...","(garage service positive, value for money posi...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
2,Very easy to use and good value for money.,"(value for money positive,)","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,Really easy and convenient to arrange,"(ease of booking positive,)","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
4,It was so easy to select tyre sizes and arrang...,"(location positive, value for money positive, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."

In [183]:
len(df_final.encoded[0])

27